.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
esbuild.js
package-lock.json
.github/**
out/**/*.map
out/projects.js
out/util.js
